
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');

* {
    padding: 0%; /*(1) กำหนดระยะห่างภายนอกเป็น 0*/
    margin: 0%; /*(2) กำหนดระยะห่างภายในเป็น 0*/
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif; /*(3) กำหนดชนิดฟอนต์เป็น Noto Sans กับ sans-serif */
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

*::-webkit-scrollbar {
    display: none;
}  
.cg{
    color: #808191;
}
.page{
    width: 100%;
    height: 100vh;
    background: #1f1d2b;
    display: flex;
    color: #fff;
}
.sidebar{
    width: 20%;    
    padding: 30px;
}
.content{
    width: 80%;
    padding: 30px;    
}
.sidebar-main{
    margin-top: 30px;
}
.sidebar-items{    
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: #808191;
}
.sidebar-icon{
    width: 35px;
    height: 35px;
    background: #353340;
    color: #808191;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 20px;
}
.sidebar-items-active{
    color: #fff;
}
.sidebar-items-active .sidebar-icon{
    background: #ff7551;
    color: #fff;
}
.hr{
    width: 100%;
    height: 1px;
    background: #393846;
}
.content-navbar{    
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.content-search{
    width: 50%;
    height: 40px;
    background: #353340;
    border-radius: 10px;
}
.content-search input[type="text"]{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding-left: 15px;
}
.content-profile{    
    display: flex;
    align-items: center;
}
.content-profile-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.content-profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-page{
    height: calc(100vh - 150px);
    overflow: scroll;
    margin-top: 30px;
}
.content-news{    
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    margin-top: 20px;
}
.content-news-items{
    height: 100%;
    padding: 30px;
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.content-news-head{
    width: 60%;    
    background-image: url('https://images.unsplash.com/photo-1591337676887-a217a6970a8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGlwaG9uZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}
.content-news-sub{
    width: 37%;
    background-image: url('https://images.unsplash.com/photo-1591337676887-a217a6970a8a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGlwaG9uZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60');
}
.content-news-head h1{
    font-size: 2vw;
    width: 40%;
}
.content-news-sub h1{
    font-size: 2vw;
    width: 70%;
}
.content-table{
    width: 100%;
    margin-top: 20px;
}
.content-table table{
    width: 100%;
}
.content-table table{
    border-collapse: collapse;
}
.content-table th,
.content-table td{
    padding: 5px 10px;
}

.content-table tbody tr:nth-child(odd) {
    background-color: #353340; /*(4) แท็ก tr อิลิเมนต์ที่เป็น child ที่เป็นเลขคี่ ให้มีการแสดงผลดังนี้ */
}

.content-table thead tr th {
    text-align: left; /*(6) class ชื่อ content-table แท็กที่อยู่ภายในที่ชื่อ thead tr th ให้มีการแสดงผลดังนี้ */ /*(7) กำหนดการจัดข้อความให้อยู่ชิดด้านซ้าย */
}

.btn {
    width: 30px; /*(8) class ชื่อ btn ให้มีการแสดงผลดังนี้ */ /*(9) กำหนดความกว้างเป็น 30px */
    height: 30px; /*(10) กำหนดความสูงเป็น 30px */
    cursor: pointer; /*(8) class ชื่อ btn ให้มีการแสดงผลดังนี้ */
    border-radius: 5px; /*(11) กำหนดเส้นขอบมีความมน (ค่ารัศมี) เป็น 5px */
    border: none; /*(12) กำหนดให้ไม่ต้องมีเส้นขอบ */
    margin-right: 5px; /*(13) กำหนดระยะห่างภายนอกด้านขวาเป็น 5px */
}

.btn-warning {
    background-color: #f1c40f; /*(14) class ชื่อ btn-warning ให้มีการแสดงผลดังนี้ */ /*(15) กำหนดสีพื้นหลังเป็น f1c40f */
    color: #000; /*(16) กำหนดสีเป็น 000 */
}

.btn-danger {
    background-color: #e74c3c; /*(17) class ชื่อ btn-danger ให้มีการแสดงผลดังนี้ */ /*(18) กำหนดสีพื้นหลังเป็น e74c3c */
    color: #fff; /*(19) กำหนดสีเป็น fff */
}
